.home_container {
  /* border: 1px solid blue; */
  padding: 1rem;
  background-color: white;
}

.nav_container{
  border: 1px red;
  border-radius: 10px;
  background-color: rgb(47,23,147);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}


.add_button {
  background-color: rgb(47,23,147);
  color: white;
  border: 1px solid white;
  justify-content: end;
  font-size: 0.9rem;
  padding: 2px;
  cursor: pointer;
  border-radius: 10px;
}


.add_button:hover {
  color: rgb(24,214,214);
}

.container_select {
  display: flex;
}

/* *****************select css**************** */
.selects_css {
  border: 1px solid blue;
  background-color: rgb(214, 212, 212);
  display: block;
  font-size: 14px;
  font-family: 'Verdana', sans-serif;
  font-weight: 400;
  color: #444;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, .03);
  border-radius: 10px;
  width: 150px;
  height: 25px;
  margin: 10px;
}

.selects_css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

/* *****************select css**************** */

.countries {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.card {
  border: 1px solid black;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  /* border: 1px solid blue; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 20px;
  overflow: hidden;
}

.card:hover img {
  transform: scale(1.3);
  transition: 0.5s;
}

.info_card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.6rem;
}

.img_container {
  width: 100%;
  /* height: 100%; */
  overflow: hidden;
}

.img_container>img {
  width: 100%;
  height: 200px;
}

.pagination {
  /* border: 1px solid blue; */
  background-color: rgba(0, 0, 0, 0.527);
  margin-bottom: 2rem;
  border-radius: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 9px;
  margin-top: 10px;
}

.pagination>ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.pagination>ul>li {
  cursor: pointer;
  border: 1px solid blue;
  background-color: cornflowerblue;
  width: 25px;
  height: 25px;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
}

.pagination>ul>li:hover {
  transform: translateY(-5px);
}