.search_container{
    /* border: 1px solid blue; */
    padding: 1rem 0px;
}

.search_container > form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.reset_btn, .filter_btn{
    /* background-color: rgb(80, 80, 247); */
    border: 2px solid rgb(24, 214, 214);
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
}

.border_btn{
    background-color: rgb(24, 214, 214);
    cursor: pointer;
    border: 1px solid rgb(0, 247, 255);
    font-size: 15px;
    width: 80px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    transition: scale 0.3s;
}

.border_btn:active{
    transform: scale(0.9);
}

.border_btn:hover{
    background: rgb(13, 110, 110);
    box-shadow: 0px 0px 25px rgba(35, 205, 211, 0.9);
}

.input_search{
    font-size: 16px;
    font-family: 'Verdana', sans-serif;
    font-weight: 400;
}

input{
    border-radius: 10px;
    padding: 8px;
    border: none;
}

.btn_search{
    background-color: orange;
    cursor: pointer;
    border: 1px solid orange;
    font-size: 15px;
    width: 70px;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    transition: scale 0.3s;

}

